* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

/* form { background: #c9c9c9; padding: 1px; position: fixed; bottom: 0; width: 100%; } */
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: #c9c9c9; border: none; padding: 10px; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages { margin-bottom: 40px }

.messages-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
    margin: 10px;
    height: 90vh;
    max-height: 90vh;
    border: 1px solid #CED4DA;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-container.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin: 5px;
    height: fit-content;
    line-height: 6vh;
    font-size: 1.5em;
}

.message-container.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 5px;
    height: fit-content;
    line-height: 6vh;
    font-size: 1.5em;
}

.message-container-text{
    padding: 10px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #CED4DA;
    background-color: white;
    word-wrap: break-word;
    width: fit-content;
    max-width: 50vw;
}

.user-input-container{
    padding: 10px;
}